MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/casa-amarilla
PORT=3000
FRONTEND_URL=https://casa-amarilla-mf.vercel.app
TELEGRAM_BOT_TOKEN=<bot_token_from_botfather>
TELEGRAM_ADMIN_CHAT_ID=<your_chat_id>
